.staffimage {
    float: left;
    max-width: 200px;
    width: 33%;
    padding: 15px;
}

.ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350px
}

.bloc {
    background-color: #ddf842;
    text-align: center;
    margin: 2vw 5vh 2vw 5vh;
}

.bloctexte {
    margin: 0 10vw 0 10vw;
    padding: 5px;
}

* {
    margin: 0;
    padding: 0;
}