.staffimage {
    float: left;
    max-width: 200px;
    width: 33%;
    padding: 15px;
}

.ligne::after {
    content: "";
    clear: both;
    display: table
}

.bloc {
    background-color: #ddf842;
    text-align: center;
    margin: 20px 50px 20px 50px;
}

.bloctexte {
    margin: 0 100px 0 100px;
    padding: 5px;
}

* {
    margin: 0;
    padding: 0;
}