html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FCF6F0;
}

* {
    font-family: sans-serif;
}

header {
    background-color: #190f2d;
    color: white;
    padding: 15px 20px;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 320px) {
    header {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header .logo {
        position: static;
        left: auto;
        transform: none;
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .selecteur_langue {
        margin-left: 0;
        justify-content: center;
    }

    .liste-menu {
        position: static;
    }

    footer {
        height: auto;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    footer .logo {
        position: static;
    }

    footer ul {
        margin-left: 0;
        margin-right: 0;
    }
}

.staffimage {
    float: left;
    max-width: 200px;
    width: 33%;
    padding: 15px;
    align-items: center;
}
.lignestaff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350px
}


header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1010;
}

header .logo img {
    height: 30px;
    vertical-align: middle;
    margin-right: 2px;
    border: none !important;
}

.logo a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
    line-height: 1;
    font-family: Orbitron, sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
}

.line {
    display: block;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hidden-checkbox {
    display: none;
}

.liste-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #460ae6;
    transition: max-height 0.3s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.liste-menu li {
    text-align: center;
    border-top: 1px solid #49637e;
}

.liste-menu li a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    transition: background-color 0.3s;
}

.liste-menu li a:hover {
    background-color: #34495e;
}

#burger-toggle:checked ~ .burger-icon ~ .liste-menu {
    max-height: 500px;
}

#burger-toggle:checked ~ .burger-icon .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
#burger-toggle:checked ~ .burger-icon .line:nth-child(2) {
    opacity: 0;
}
#burger-toggle:checked ~ .burger-icon .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

h1 {
    border-style: solid;
    background: #E1D5FF;
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.presention_ecole_promotion{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.presention_ecole_promotion article{
    border-style: solid;
    background: #E1D5FF;
    border-radius: 10px;
    flex: 1 1 300px;
    box-sizing: border-box;
}

.presentation_wiki{
    border-style: solid;
    background: #E1D5FF;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

main a{
    color: #460AE6;
}

.actualite{
    border-style: solid;
    background: #E1D5FF;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

article p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    hyphens: auto;
}

.style_date {
    font-weight: bold;
}

footer {
    background-color: #190f2d;
    color: white;
    padding: 15px 20px;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .logo{
    position: absolute;
}

footer .logo img {
    height: 30px;
    vertical-align: middle;
    margin-right: 2px;
    border: none !important;
}

footer a {
    color: white;
    text-decoration: none;
}

footer li:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    padding: 0;
    font-size: 15px;
}

h1, h2, h3 {
    font-family: Orbitron;
}

p {
    font-family: Delius;
}

.selecteur_langue {
    margin-left: auto;
    display: flex;
    gap: 10px;
    z-index: 1010;
}
.selecteur_langue .drapeau {
    width: 30px;
    height: 20px;
    display: block;
    border: 2px solid transparent;
    transition: border-color 0.2s, opacity 0.2s;
    cursor: pointer;
}

.langue_active {
    display: none;
}

.langue-link:not(.langue_active):hover .drapeau {
    border-color: white;
    opacity: 0.8;
}

/*Page de Jojo*/
.presentationBDE {
    border: 3px solid;
    border-radius: 10px;
    border-color: black;
    background-color: #E1D5FF;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.listeBDE {
    padding-left: 20px;
    font-family: Delius;
}

.eventBDE {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.eventBDE article {
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 1 1 300px;
    background-color: #E1D5FF;
}

.Psalsa {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    background-color: #E1D5FF;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.Psmart {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    background-color: #E1D5FF;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.Pesadd {
    display: flex;
    border-style: solid;
    border-radius: 10px;
    background-color: #E1D5FF;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.titleEvent, .titlePart {
    display: flex;
    border-style: solid;
    background: #E1D5FF;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/*Page de Remy*/
.espacement{
    margin-left: 25px;
    margin-right: 25px;
}

.social-body{
    background-color: #FCF6F0;
}

.imgseminaire{
    height: 150px;
    width: auto;
    position:relative;
    left:30px;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
}

#img1{
    height: 340px;
    width: auto;
    position:relative;
    left:20px;
    top: 20px;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
}

.contour{
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    background-color: #E1D5FF;
}


.titre{
    text-align: center;
    padding: 15px;
}

#titre-activites{
    text-align: center;
}

#intro-seminaire{
    max-width: 1000px;
    margin: 0 auto;
}

.jour-ligne{
    flex: 1 1 300px;
    box-sizing: border-box;
}

#activites{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
}

#vie-au-campus{
    margin-bottom: 25px;
}

#seminaire-mars{
    margin-bottom: 25px;
}

/*Aside*/

aside {
    margin-bottom: 25px;
}

#inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#nouscontacter{
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
}

.elt-contact{
    flex: 1 1 300px;
    box-sizing: border-box;
}

#block-prenom{
    max-width: 255px;
}

#block-nom{
    max-width: 240px;
}

#nom{
    position: relative;
    left: 30px;
}

#block-email{
    max-width: 255px;
}

#email{
    position: relative;
    left: 15px;
}

#block-message{
    max-width: 270px;
}

#envoyer{
    margin-left: 72%;
    margin-right: 20%;
}

/*Page de Yoann*/
.staffimage {
    float: left;
    max-width: 200px;
    width: 33%;
    padding: 15px;
    border: solid;
    border-radius: 25px;
}

.lignestaff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350px
}
