/*Toutes les pages*/

* {
    margin: 0;
    padding: 0;
}

header {
    
}

.dimensions {
    max-width: 720px;
}

body {
    display: flex;
    justify-content: center;
}

/*Page du BDE*/

.mainBDE {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.presentationBDE {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    background-color: gainsboro;
}

.listeBDE {
    margin-left: 20px;
}

.eventBDE {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    background-color: gainsboro;
}

.partenariatBDE {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    background-color: gainsboro;
}

/*Page pedago*/

.staffimage {
    float: left;
    max-width: 200px;
    width: 33%;
    padding: 15px;
}

.ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350px
}

.bloc {
    background-color: #ddf842;
    text-align: center;
    margin: 2vw 5vh 2vw 5vh;
}

.bloctexte {
    margin: 0 10vw 0 10vw;
    padding: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    font-family: sans-serif;
}

header {
    background-color: #190f2d;
    color: white;
    padding: 15px 20px;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1010;
}

.logo img {
    height: 30px;
    vertical-align: middle;
    margin-right: 2px;
    border: none !important;
}

.logo a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 30px;
    line-height: 1;
}

nav {
    display: flex;
    align-items: center;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 15px;
}

.line {
    display: block;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hidden-checkbox {
    display: none;
}

.liste-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #460ae6;
    transition: max-height 0.3s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.liste-menu li {
    text-align: center;
    border-top: 1px solid #49637e;
}

.liste-menu li a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    transition: background-color 0.3s;
}

.liste-menu li a:hover {
    background-color: #34495e;
}

#burger-toggle:checked ~ .burger-icon ~ .liste-menu {
    max-height: 500px;
}

#burger-toggle:checked ~ .burger-icon .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
#burger-toggle:checked ~ .burger-icon .line:nth-child(2) {
    opacity: 0;
}
#burger-toggle:checked ~ .burger-icon .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}