* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: black;
}

.dimensions {
    
}

body {
    display: flex;
    justify-content: center;
}

.bodyBDE {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.sommaire {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 3px solid;
    gap: 10px;
}

.mainBDE {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 720px;
}

.presentationBDE {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    padding: 10px;
    background-color: gainsboro;
    width: 720px;
}

.listeBDE {
    margin-left: 20px;
}

.eventBDE {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    padding: 10px;
    background-color: gainsboro;
    width: 720px;
}

.partenariatBDE {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    padding: 10px;
    background-color: gainsboro;
    width: 720px;
}