html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FCF6F0;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

a:hover {
    text-shadow: #49637e 0 0 5px;
}

a {
    transition: text-shadow 0.2s;
}

header {
    background-color: #190f2d;
    color: white;
    padding: 5px 10px;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    order: 2;
    width: auto;
    margin: 0;
}

header .logo img {
    height: 20px;
    vertical-align: middle;
    margin-right: 2px;
    border: none;
}

.logo a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    font-family: Orbitron, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    order: 1;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.line {
    display: block;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hidden-checkbox {
    display: none;
}

.liste-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #460ae6;
    transition: max-height 0.3s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.liste-menu li {
    text-align: center;
    border-top: 1px solid #49637e;
}

.liste-menu li a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    transition: background-color 0.3s;
}

.liste-menu li a:hover {
    background-color: #34495e;
}

#burger-toggle:checked ~ .burger-icon ~ .liste-menu {
    max-height: 500px;
}

#burger-toggle:checked ~ .burger-icon .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}
#burger-toggle:checked ~ .burger-icon .line:nth-child(2) {
    opacity: 0;
}
#burger-toggle:checked ~ .burger-icon .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

.selecteur_langue {
    display: flex;
    gap: 5px;
    z-index: 1010;
    order: 3;
}

.selecteur_langue .drapeau {
    width: 20px;
    height: 15px;
    display: block;
    border: 2px solid transparent;
    transition: border-color 0.2s, opacity 0.2s;
    cursor: pointer;
}

.langue_active {
    display: none;
}

.langue-link:not(.langue_active):hover .drapeau {
    border-color: white;
    opacity: 0.8;
}

h1 {
    border-style: solid;
    background: #E1D5FF;
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.presention_ecole_promotion, .eventBDE {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.presention_ecole_promotion article, .eventBDE article {
    border-style: solid;
    background: #E1D5FF;
    border-radius: 10px;
    flex: 1 1 100%;
    box-sizing: border-box;
}

.presentation_wiki, .actualite, .presentationBDE, .Psalsa, .Psmart, .Pesadd{
    border-style: solid;
    background: #E1D5FF;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.Pesadd, .Psmart, .Psalsa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main a{
    color: #460AE6;
}

.retour {
    text-align: center;
}

.actualite{
    border-style: solid;
    background: #E1D5FF;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

article p, .Psalsa p, .Pesadd p, .Psmart p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    hyphens: auto;
}

.style_date {
    font-weight: bold;
}

.titleEvent, .titlePart {
    display: flex;
    border-style: solid;
    background: #E1D5FF;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.listeBDE {
    padding-left: 20px;
    font-family: Delius, sans-serif;
}

.espacement{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}


.imgseminaire, #img1 {
    width: 35%;        
    height: auto;      
    object-fit: contain;
    display: block;    
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 20px;    
}


.contour{
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
    background-color: #E1D5FF;
}

.titre{
    text-align: center;
    padding: 15px;
}


.jour-ligne{
    flex: 1 1 300px; 
    display: flex;
    flex-direction: column; 
    gap: 3px;
}

#activites{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
}

#inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.elt-contact{
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
}

#nouscontacter{
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
}

#envoyer{
    margin-left: 50%;
    transform: translateX(-50%);
    display: block;
    width: fit-content;
}

.staffimage {
    float: none;
    max-width: 100%;
    width: 100%;
    padding: 15px;
    border: solid;
    border-radius: 25px;
}

.lignestaff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.social-body{
    background-color: #FCF6F0;
}

footer {
    background-color: #190f2d;
    color: white;
    padding: 5px 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

footer .logo{
    order: 1;
    width: 40%;
    padding-left: 5px;
    margin: 0;
    position: static;
}

footer .logo img {
    height: 18px;
}

footer .logo a {
    font-size: 14px;
    justify-content: flex-start;
}

footer ul {
    order: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    padding: 0 10px 0 0;
    margin: 0;
    width: 60%;
    text-align: right;
}

footer ul li {
    width: auto;
    padding: 0;
    margin: 0;
}

footer ul li a {
    font-size: 10px;
    white-space: nowrap;
    color: white;
    text-decoration: none;
}

footer li:hover {
    text-decoration: underline;
}

@media (min-width: 601px) {
    header {
        padding: 10px 15px;
    }
    header .logo img {
        height: 25px;
    }
    .logo a {
        font-size: 20px;
    }
    .selecteur_langue {
        gap: 10px;
    }
    .selecteur_langue .drapeau {
        width: 30px;
        height: 20px;
    }

    .presention_ecole_promotion article,
    .eventBDE article {
        flex: 1 1 300px;
    }

    .Psalsa, .Psmart, .Pesadd {
        flex-direction: row;
    }

    footer {
        padding: 10px 15px;
        height: 70px;
    }
    footer .logo {
        width: auto;
    }
    footer .logo img {
        height: 20px;
    }
    footer .logo a {
        font-size: 16px;
    }
    footer ul {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: auto;
        padding: 0;
    }
    footer ul li a {
        font-size: 13px;
    }

    .lignestaff {
        flex-direction: row;
        height: 350px;
    }
    .staffimage {
        float: left;
        max-width: 200px;
        width: 33%;
    }
    .jour-ligne {
        flex: 1 1 45%;
    }
    #img1 {
        height: 340px;
        left: 20px;
        top: 20px;
    }
    #inputs {
        justify-content: flex-start;
        gap: 40px;
    }
    .elt-contact {
        flex: 1 1 auto;
    }
    #block-prenom { max-width: 255px; }
    #block-nom { max-width: 240px; }
    #nom { position: relative; left: 30px; }
    #block-email { max-width: 255px; }
    #email { position: relative; left: 15px; }
    #block-message { max-width: 270px; }
    #envoyer {
        margin-left: 72%;
        transform: none;
    }
}

@media (min-width: 1025px) {
    header {
        height: 70px;
        padding: 15px 20px;
    }

    header .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        order: initial;
    }
    header .logo img {
        height: 30px;
    }
    .logo a {
        font-size: 30px;
    }
}

h1, h2, h3 {
    font-family: Orbitron;
}

p, p > a, b, strong {
    font-family: Delius;
}

aside {
    margin-bottom: 25px;
}

#block-prenom{
    max-width: 255px;
}

#block-nom{
    max-width: 240px;
}

#nom{
    position: relative;
    left: 30px;
}

#block-email{
    max-width: 255px;
}

#email{
    position: relative;
    left: 15px;
}

#block-message{
    max-width: 270px;
}
